body {
    background-color: #111;
    color: #eee;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    width: 60%;
    padding: 20px;
    background-color: #222;
    border: 2px solid #444;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #c00;
}

#choices {
    margin-top: 20px;
}

button {
    background-color: #444;
    color: #eee;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #666;
}
